
@{
  Layout = "_Layout";
}
@model HairSalon.Models.Customer;

<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>
<br>
@Html.ActionLink("Delete This Customer", "Delete", new {id = Model.CustomerId})

@Html.ActionLink("Update This Customer", "Update", new {id = Model.CustomerId})

@Html.ActionLink("Back to Customer List", "Index")